.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: #5486f6
}

.section-1 .position-relative {
    height: 180px;
    background-color: #5486f6;
}

.section-1 .position-absolute {
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 50%;
}

.section-1 .position-absolute span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;

}

.nav-item {
    display: grid !important;
}

.nav .nav-link {
    color: gray !important;
    margin-left: 5px !important;

}

.nav .nav-link:hover {
    background-color: lightgrey !important;
    color: black !important;
}

.nav .nav-link.active:hover {
    background-color: #0d6efd !important;
}

.nav .nav-link.active {
    color: white !important;
}
.form {
    position: relative;
    width: 100%;
    
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.animation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #5486f6;
}


.form:hover .animation {
    opacity: 0.7 !important;
}
.form:hover .image {
    opacity: 2 !important;
}



.icon {
   color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.simple{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 400px !important;
    background-color: rgba(52, 73, 94, 0.8);
}
.btn-primary{
    border: none !important;
    border-radius: 0 !important;
    padding: 15px !important;
    background-color: #5486f6 !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}




